/* 
///////////////////////////////////////////////////////////////////
                                    GENERAL
///////////////////////////////////////////////////////////////////
*/


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

:root {
    font-size: 10px;
    --font-family: 'Raleway', sans-serif;
    --font-subtitle: clamp(2.5rem, 2.0rem + 1.5vw, 5rem);
    --font-title: clamp(2.5rem, 2.0rem + 2.5vw, 7rem);
    --shadow-white: #ddd;
    --shadow-yellow: #b1ae0e;
    --shadow-black: #0006;
    --yellow: #ebe71a;
    --black: #000;
    --font-normal: calc(1.4rem + 0.15vw);
    --menu-opcion-size: clamp(4rem, 2.3rem + 2vw,5rem);
    --background: #fff;
    --padding-normal: clamp(1rem, 0.8rem + 1vw, 1.5rem);
    --padding-form:clamp(.4rem, .3rem + 1.5vw,1rem);
    --border-validation-error: #d32828;
}

body {
    background-color: var(--background)
}

::-webkit-scrollbar {
    width: clamp(.2rem, 0.5vw, 1.5rem);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
}

/* 
///////////////////////////////////////////////////////////////////
                                        SECTIONS
///////////////////////////////////////////////////////////////////
*/

.section {
    max-width: 120rem;
    margin: 0 auto;
    min-height: 100vh;
    padding: 1rem;
}

.section h2 {
    font-size: var(--font-subtitle);
    text-align: center;
    text-decoration: underline;
    color: var(--black);
}

/* 
///////////////////////////////////////////////////////////////////
                                        HEADER
///////////////////////////////////////////////////////////////////
*/

.header {
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: var(--yellow);
    color: var(--black);
    border-bottom: .3rem solid var(--black);
}

.header h1 {
    font-size: var(--font-title);
}

/* 
///////////////////////////////////////////////////////////////////
                            MENÚ DE NAVEGACIÓN
///////////////////////////////////////////////////////////////////
*/

.nav-container {
    background-color: var(--yellow);
    position: fixed;
    right: 1vh;
    bottom: 1vh;
    width: var(--menu-opcion-size);
    height: var(--menu-opcion-size);
    border-radius: 50%;
    padding: .5rem;
    outline: clamp(.1rem, 0.05rem + 1vw, .3rem) solid var(--black);
    cursor: pointer;
    z-index: 999;
    border: none;
}

.scroll-up {
    right: calc(2vh + var(--menu-opcion-size));
}

ion-icon {
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: var(--black);
}

.menu-options {
    position: fixed;
    width: 100%;
    height: 60vh;
    top: 20vh;
    left: -100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0008;
    gap: 2rem;
    z-index: 990;
    transition: left .3s ease-out;
    overflow-y: auto;
    box-shadow: 
        0 -20vh #0008,
        0 20vh #0008;
}

.menu-options::-webkit-scrollbar {
    width: 0;
}

.menu-options-active {
    left: 0vw;
}

.btn-dark-mode {
    left: 1vh;
}

.menu-options a {
    width: 100%;
    background: var(--yellow);
    text-decoration: none;
    color: var(--black);
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.menu-options span {
    pointer-events: none;
    font-size: var(--font-subtitle);
}

.menu-options a:hover,
.menu-options a.active {
    color: var(--yellow);
    background-color: var(--black);
}

.icon-menu-off {
    display: none;
}


/* 
///////////////////////////////////////////////////////////////////
                                        RELOJ
///////////////////////////////////////////////////////////////////
*/


#reloj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.reloj {
    width: min(60vh, 80vw);
    height: min(60vh, 80vw);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    background-color: var(--yellow);
    box-shadow: 
        0rem 0rem 2rem var(--shadow-yellow),
        0rem 0rem 5rem var(--shadow-black),
        inset 0rem 0rem 3rem var(--shadow-yellow),
        inset 0rem 0rem 5rem var(--shadow-white);
}

.reloj span {
    font-size: var(--font-subtitle);
    font-family: sans-serif;
    color: var(--black);
}

.reloj-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    width: min(60vh, 80vw);
    gap: 1rem;
}

.reloj-options button {
    width: 100%;
    padding: 1rem;
    font-size: var(--font-normal);
    cursor: pointer;
    background-color: transparent;
    font-weight: 600;
    font-family: var(--font-family);
    position: relative;
    overflow: hidden;
    color: var(--black);
    border: .2rem solid var(--black);
}

.reloj-options button::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: -50%;
    background-color: var(--yellow);
    transition: left .1s ease-out;
} 

.reloj-options button::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: -50%;
    background-color: var(--yellow);
    transition: right .1s ease-out;
} 

.reloj-options button:hover::after {
    left: 0;
}

.reloj-options button:hover::before{
    right: 0;
}

.reloj-options span {
    position: relative;
    z-index: 10;
    pointer-events: none;
}

.display-none{
    display: none;
}


/* 
///////////////////////////////////////////////////////////////////
                                 TEMPORIZADOR
///////////////////////////////////////////////////////////////////
*/


.tiner-container {
    width: min(60vh, 80vw);
}

.tiner-container article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

.tiner-container p {
    font-size: calc(var(--font-normal) * 2);
    color: var(--black);
}

.time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.time-container input {
    outline: none;
    border: none;
    border-bottom: .2rem solid var(--black);
    text-align: center;
    font-size: calc(var(--font-normal) * 1.3);
    width: calc(var(--font-normal) + 1rem);
    font-family: sans-serif;
    background-color: transparent;
    color: var(--black);
}

.tiner-options {
    width: min(60vh, 80vw);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    gap: 1rem;
}

.tiner-options button {
    padding: 1rem;
    font-size: var(--font-normal);
    font-weight: bold;
    background-color: transparent;
    border: .2rem solid var(--black);
    cursor: pointer;
    color: var(--black);
}


/* 
///////////////////////////////////////////////////////////////////
                                 MINI GAME
///////////////////////////////////////////////////////////////////
*/


#mini-game {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.game-container {
    background-image: linear-gradient(to right bottom, #d3178b, #8213e2);
    width: 80%;
    height: 40vh;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem #0007;
    overflow: hidden;
}

.game-ball {
    width: var(--font-subtitle);
    height: var(--font-subtitle);
    border-radius: 50%;
    background-color: #fff5;
    transition: transform .1s linear;
}


/* 
///////////////////////////////////////////////////////////////////
                                 COUNTDOWN
///////////////////////////////////////////////////////////////////
*/


#countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    align-items: center;
}

.countdown-calendar {
    appearance: none;
    color: #000;
    font-family: sans-serif;
    font-size: calc(var(--font-normal) * 1.3);
    border:.1rem solid #000;
    background:#fff;
    padding: calc(var(--padding-normal) / 2);
    display: inline-block;
    visibility: visible;
    outline: none;
    border-radius: 12px;
    position: relative;
}

.countdown-calendar::-webkit-calendar-picker-indicator {
    display:inline-block;
    cursor: pointer;
    background-image: url("./icons/calendario.png");
    background-position: 90% 40%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: auto;
    background-size: 24px;
}

.countdown {
    font-size: var(--font-subtitle);
    font-weight: bold;
    color: var(--black);
    text-align: center;
    font-family: sans-serif;
}

.countdown-btn {
    cursor: pointer;
    font-size: var(--font-normal);
    font-weight: bold;
    color: var(--black);
    background-color: transparent;
    border: .2px solid var(--black);
    outline: none;
    padding: calc(var(--padding-normal) / 1.5);
    padding-left: calc(var(--padding-normal) * 2);
    padding-right: calc(var(--padding-normal) * 2);
}


/* 
///////////////////////////////////////////////////////////////////
                                RESPONSIVE JS
///////////////////////////////////////////////////////////////////
*/


#responsive-js {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10vh;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 60%;
    min-width: 20rem;
    max-width: 50rem;
    height: auto;
    box-shadow: 0 0 4rem #0006;
}

.media-mobile  {
    color: var(--black);
    font-size: calc(var(--font-subtitle) / 2);
}

.media-mobile:visited {
    color: var(--black);
}


/* 
///////////////////////////////////////////////////////////////////
                                RESPONSIVE TESTER
///////////////////////////////////////////////////////////////////
*/


#responsive-tester {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-responsive-tester {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 50rem;
    border: .2rem solid var(--black);
}

.form-responsive-tester > * {
    width: 100%;
    padding: clamp(1rem, .8rem + 1vw, 1.5rem);
    border: .2rem solid var(--black);
    outline: none;
    background-color: transparent;
    color: var(--black);
    font-size: var(--font-normal);
    font-family: sans-serif;
}

.form-responsive-tester > *::placeholder {
    color: var(--black);
}

.btn-responsive-tester {
    font-family: var(--font-family);
    font-weight: 600;
    cursor: pointer;
}

.btn-responsive-tester:hover {
    background-color: var(--yellow);
}


/*
///////////////////////////////////////////////////////////////////
                                    DEVICE
///////////////////////////////////////////////////////////////////
*/


#device {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: var(--black);
}

.device-details {
    font-size: calc(var(--font-normal) * 1.5);
    font-family: sans-serif;
    text-align: center;
    padding: 1rem;
}


/*
///////////////////////////////////////////////////////////////////
                                    CONECTION
///////////////////////////////////////////////////////////////////
*/


.online,
.offline {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    font-size: var(--font-subtitle);
    background-color: #3da81c;
    color: var(--black);
    z-index: 980;
    font-family: var(--font-family);
    text-align: center;
}

.offline {
    background-color: #ff1447;
}


/*
///////////////////////////////////////////////////////////////////
                                    CAMERA
///////////////////////////////////////////////////////////////////
*/


#camera {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.video {
    width: clamp(18rem, 15rem + 40vw, 80rem);
    height: auto;
    box-shadow: 0 0 4rem #0006;
    padding: 1rem;
}


/*
///////////////////////////////////////////////////////////////////
                                    GEOLOCATION
///////////////////////////////////////////////////////////////////
*/


#geolocation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vh;
}

#geolocation p, 
#geolocation a
 {
    text-align: center;
    font-family: sans-serif;
    font-size: var(--font-normal);
    color: var(--black);
    text-decoration: none;
}

#geolocation a:visited {
    color: var(--black);
}


/*
///////////////////////////////////////////////////////////////////
                                    SEARCH-FILTERS
///////////////////////////////////////////////////////////////////
*/


#search-filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vh;
}

.filter-cards {
    width: clamp(15rem, 8rem + 10vw, 30rem);
    font-size: var(--font-normal);
    color: var(--black);
    background-color: transparent;
    padding: calc(var(--padding-normal) / 2);
    outline: none;
    border: none;
    border-bottom: .2rem solid var(--black);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: mediumvioletred;
    cursor: pointer;
    border: .1rem solid var(--black);
}

.card:hover {
    box-shadow: 0 0 3rem #0006;;
}

.card:hover img {
    filter: contrast(1.2);
}

.card h3 {
    font-size: var(--font-normal);
    color: #fff;
    padding: var(--padding-normal);
}

.card img {
    object-fit: cover;
    flex-grow: 1;
    filter: grayscale(1);
}

.no-filter {
    visibility: hidden;
    pointer-events: none;
    order: 1;
}


/*
///////////////////////////////////////////////////////////////////
                                    WINNER RANDOM
///////////////////////////////////////////////////////////////////
*/


#winner-random {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;;
}

.winner-options {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.winner-option {
    list-style-type: none;
    font-size: calc(var(--font-normal) * 1.5);
    color: var(--black);
    text-align: center;
}

.btn-winner {
    font-size: var(--font-normal);
    color: var(--black);
    cursor: pointer;
    border: .2rem solid var(--black);
    padding: var(--padding-normal);
    padding-left: calc(var(--padding-normal) * 2);
    padding-right: calc(var(--padding-normal) * 2);
    font-weight: 600;
}

.btn-winner:hover {
    background-color: var(--yellow);
}


/* 
///////////////////////////////////////////////////////////////////
                                RESPONSIVE SLIDER
///////////////////////////////////////////////////////////////////
*/


#responsive-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

 .slides-container {
    width: 80%;
    height: 30vh;
    position: relative;
    overflow: hidden;
}

.responsive-arrows {
    position: absolute;
    top: calc(50% - (var(--font-normal) * 2.5 / 2));
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 980;
}

.responsive-arrows > * {
    width: calc(var(--font-normal) * 2.5);
    height: calc(var(--font-normal) * 2.5);
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

.glider-track {
    height: 100%;
}

.slides {
    height: 100%;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0002;
}

.slide:nth-child(even) {
    background: #0005;
}

.content{
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img {
    object-fit: cover;
    max-height: 18vh;
    width: auto;
}

.content p {
    font-size: var(--font-normal);
    font-weight: bold;
    font-family: sans-serif;
    padding: calc(var(--padding-normal) / 2);
    color: var(--black);
}

.glider-dot.active {
    background-color: var(--black);
}


/* 
///////////////////////////////////////////////////////////////////
                                SMART VIDEO
///////////////////////////////////////////////////////////////////
*/


#smart-video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

video[data-video] {
    width: 90%;
    max-width: 90rem;
    height: auto;
    outline: none;
    box-shadow: 0 0 1rem #0006;
}


/* 
///////////////////////////////////////////////////////////////////
                                CONTACT FORM
///////////////////////////////////////////////////////////////////
*/


#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contact-form-container {
    display: flex;
    width: 90%;
    max-width: 85rem;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-image: linear-gradient(to right bottom, #571ddf, #201df3);
    padding: var(--padding-normal);
    position: relative;
    padding: 2rem;
    padding: var(--padding-form);
}

.contact-form-container::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, #571ddf, #201df3);
    filter: blur(3rem);
    z-index: -1;
}

.contact-form-container h3 {
    font-size: calc(var(--font-subtitle) / 1.5);
    text-decoration: underline;
    color: #fff;
    z-index: 5;
    padding-top: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    padding: var(--padding-normal);
    width: 100%;
    gap: 2vh;
}

.form > * {
    z-index: 5;
}

.form::before{
    content: "";
    width: calc(100% - var(--padding-form) * 2);
    height: calc(100% - var(--padding-form) * 2);
    margin: var(--padding-form);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0004;
    pointer-events: none;
}

.form::after{
    content: "";
    width: calc(50% - var(--padding-form));
    height: calc(100% - var(--padding-form) * 2);
    margin: var(--padding-form);
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff1;
    pointer-events: none;
}

.form input,
.form textarea {
    width: 100%;
    outline: none;
    border: none;
    font-size: var(--font-normal);
    color: #fff;
    padding: var(--padding-normal);
    background-color: transparent;
    font-family: var(--font-family);
    resize: none;
    position: relative;
}

.form-input-container {
    position: relative;
}

.border {
    bottom: 0;
    left: 0;
    width: 100%;
    height: .2rem;
    position: absolute;
    background-color: #fff;
}

.error ~ .border{
    background-color: var(--border-validation-error);
}

.form input:focus ~ i,
.form textarea:focus ~ i {
    box-shadow: 
        0 0 .8rem #fff,
        0 0 1.5rem #fff;
}

.form input.error:focus ~ i,
.form textarea.error:focus ~ i {
    box-shadow: 
        0 0 .8rem var(--border-validation-error),
        0 0 1.5rem var(--border-validation-error);
}

.form input::placeholder,
.form textarea::placeholder {
    color: #ddd;
}

.form input[type="submit"] {
    border: .2rem solid #fff;
    cursor: pointer;
    font-weight: bold;
}

.form input[type="submit"]:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 2rem #fff;
}

.loader-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0008;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    backdrop-filter: blur(1rem);
    display: none;
}

.loader-text {
    font-size: calc(var(--font-normal) * 2);
    color: #fff;
    text-shadow: 0 0 1rem #fff;
    user-select: none;
}

.loader {
    position: relative;
    font-size: 16px;
    width:  5.5em;
    height: 5.5em;
}

.loader::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 4px;
    height: inherit;
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: 0 0 1rem #fff;
}

.loader:after{
      content: '';
      position: absolute;
      left: 0.2em;
      bottom: 0.18em;
      width: 1em;
      height: 1em;
      background-color: #fff;
      border-radius: 15%;
      animation: rollingRock 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
      box-shadow: 0 0 1rem #fff;
}

@keyframes rollingRock {
    0% {transform: translate(0, -1em) rotate(-45deg)}
    5% {transform: translate(0, -1em) rotate(-50deg)}
    20% {transform: translate(1em, -2em) rotate(47deg)}
    25% {transform: translate(1em, -2em) rotate(45deg)}
    30% {transform: translate(1em, -2em) rotate(40deg)}
    45% {transform: translate(2em, -3em) rotate(137deg)}
    50% {transform: translate(2em, -3em) rotate(135deg)}
    55% {transform: translate(2em, -3em) rotate(130deg)}
    70% {transform: translate(3em, -4em) rotate(217deg)}
    75% {transform: translate(3em, -4em) rotate(220deg)}
    100% {transform: translate(0, -1em) rotate(-225deg)}
}

.contact-form-response {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: var(--font-subtitle);
    background-color: #0008;
    user-select: none;
    backdrop-filter: blur(1rem);
    text-shadow: 
        0 0 .8rem #fff,
        0 0 2rem #fff;
    z-index: 9999;
}

.error-span {
    width: 100%;
    padding: 1rem;
    color: #fff;
    font-family: sans-serif;
    font-weight: 600;
    text-shadow: 0 0 1rem #fff5;
    font-size: var(--font-normal);
    background-color: var(--border-validation-error);
    text-align: center;
    display: block;
    box-shadow: 
        0 0 .8rem var(--border-validation-error),
        0 0 1.5rem var(--border-validation-error);
}


/* 
///////////////////////////////////////////////////////////////////
                                    SPEECH
///////////////////////////////////////////////////////////////////
*/


#speech {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.speech-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 80rem;
    gap: 2vh;
}

.speech-container > * {
    width: 100%;
    padding: var(--padding-normal);
    font-size: var(--font-normal);
    font-family: var(--font-family);
    border: .2px solid var(--black);
    outline: none;
}

.speech-select {
    background-color: transparent;
    color: var(--black);
}

option {
    background: var(--background);
}

.speech-text {
    resize: none;
    background-color: transparent;
    color: var(--black);
}

.speech-btn {
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: var(--black);
}

.speech-btn:hover {
    background-color: var(--yellow);
}